<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
    <div class="text-right">
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="page-header text-left">
        <h1>Profile Page</h1>
    </div>
    <div class="row">
        <h4>Your Account info:</h4>
        <span style="padding-right: 10px">Email Address:</span><strong><%= user.email %></strong>
    </div>
    <div class="row">
        <% if (!user.email_verified) { %>
            <div class="alert alert-danger">
                <span>Please check your email to verify email.Did not receive one?</span>
                <a href="">Click here to resend</a>
            </div>
        <% } %>
    </div>
</div>
</body>
</html>
